<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	   					   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	   					   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
		<bean id="knight" class="spring.tutorial.wiring.Knight" init-method="initMethod" destroy-method="destroyMethod" p:country = "England">
			<constructor-arg value="#{myProperties['name']}" />
			<property name="weapon" value="Sword" />
			<property name="beasts">
				<map>
					<entry key="beast1" value-ref="dragon" />
					<entry key="beast2" value-ref="wolf" />
				</map>
			</property>
		</bean>
	
		<bean id="beast" class="spring.tutorial.wiring.Beast" abstract="true">
			<property name="name" value="Beast" />
		</bean>
		
		<bean id="dragon" class="spring.tutorial.wiring.Dragon" parent="beast" p:dangerous="#{(true ?: false) or (true ? true : false)}">
			<property name="firstCity" value="#{wolf.countries.?[size  gt 10]}"/>
 			<property name="secondCity" value="#{wolf.countries.^[size  lt 1000]}" />
 			<property name="citySize" value="#{wolf.countries.?[size lt 1000].![size].get(0)}" /> <!-- Projecting collections  -->
		</bean>
		<bean id="wolf" class="spring.tutorial.wiring.Wolf">
			<property name="countries">
				<list>
					<ref bean="country1"/>
					<ref bean="country2"/>
					<ref bean="country3"/>
				</list>
			</property>
		</bean>
		
		<bean id="propsHolder" abstract="true" p:property="TEST" />
		
		
		<bean id="propertyHolder" class="spring.tutorial.wiring.PropertyHolder" parent="propsHolder" 
				p:value="#{dragon.name}" 
				p:randomValue="#{propertyHolder.getRandomString()?.toUpperCase() + '2' + T(spring.tutorial.wiring.PropertyHolder).getStaticString() + 2 ^ 2}" />
				
		<bean id="country1" class="spring.tutorial.wiring.Country" p:size="10" />
		<bean id="country2" class="spring.tutorial.wiring.Country" p:size="100" />
		<bean id="country3" class="spring.tutorial.wiring.Country" p:size="1000" />
		
		<util:properties id="myProperties" location="spring/tutorial/wiring/myProperties.properties" />
				
</beans>